:root {
  font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background: #0d0d0f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #0d0d0f;
}

body, #root {
  height: 100%;
  width: 100%;
  background: #0d0d0f;
}

body {
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}
